<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="ar-eg" />
        <title>{t:Newsletter}</title>
    </head>
    <body style="direction:{$:direction}; text-align:{$:align}; font-size: 13px; font-family:Arial, Tahoma, Verdana, sans-serif; margin:0; padding:0; ">
        <table style="direction:{$:direction};width:728px; text-align:{$:align}; margin:5px 18px;" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="2" align="center">
                    <a href="{$:siteUrl}" target="_blank"><img src="{$:templateUrl}/images/728_90.jpg"></a>
                </td>
            </tr>		
            <tr>
                <td colspan="2" height="85px" bgcolor="#f9f9f7">
                    <table cellpadding="0" cellspacing="0" width="728px" >
                        <tr>
                            <td width="140px" align="{$:align}" style="border-left:1px #000 solid;"><img src="{$:templateBaseUrl}/images/{$:lang}/logo.png" width="130" height="76" /></td>
                            <td width="588px" style="font-size: 25px; color:#1E324D; font-weight:bold; padding-{$:align}:5px;">{t:Newsletter}<br />
                                <a style="font-size:14px; text-decoration: none; color: #1E324D;" href="{$:link}">{t:link}</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="5px"></td>
            </tr>
            <tr>
                <!-- START Right Side -->
                <td width="465px">
                    <table cellspacing="0" cellpadding="0" width="455px">
                        <tr>
                            <td>                                
                                <table cellpadding="0" cellspacing="0" style="border:1px #c2c2c2 solid; background-color:#F5F5F5; padding:5px 5px 5px 0px;" width="455px">
                                    <tr>
                                        <td style="padding-bottom:3px;"><div style="font-family:Arial,Tahoma, Verdana, sans-serif; font-size:19px; font-weight:bold; color:#1E324D;">{t:Latest News}</div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td>
                                                        <a href="{$:firstTopArticleUrl}" target="_blank">                                                           
                                                            <img border="0" style="padding:1px; border:1px solid #c2c2c2;" src="{$:firstTopArticleImageUrl}" />
                                                        </a>
                                                    </td>
                                                    <td valign="top" align="{$:align}" style="font-family:Arial, Tahoma, Verdana, sans-serif; font-size:15px; font-weight:bold; padding-{$:align}:8px; padding-left:4px;">
                                                        <a href="{$:firstTopArticleUrl}" target="_blank" style="text-decoration:none; color:#426698;"> 
                                                        {$:firstTopArticle}
                                                        </a>
                                                        <br>
                                                       <span style="font-size:10px; padding-top:5px;">{$:firstTopArticleDate}</span>														
                                                    </td>
                                                </tr>
                                            </table>									
                                        </td>
                                    </tr>
                                    <tr>                                      
                                        <td>										
                                            <table cellpadding="0" cellspacing="0" style="padding-top:3px;" border="0">
                                                <tr>
                                                    {loop:topArticles}
                                                        <td width="80" style="padding:0px 0px 0px 5px;" valign="top">
                                                            <a href="{$:topArticleUrl}" target="_blank">
                                                                <img style="padding:1px; border:1px solid #c2c2c2;" src="{$:topArticleImage}" width="80" height="75" />
                                                            </a>
                                                            <div style="padding:0px 0px 0px 5px; font-family: Arial, Tahoma, Verdana, sans-serif; font-size:13px; font-weight:bold; text-align:{$:align}">
                                                                <a href="{$:topArticleUrl}" target="_blank" style="text-decoration:none; color:#000;">{$:topArticle}</a>
                                                            </div>
                                                        </td> 
                                                    {endloop:topArticles}                                                        
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>	                                   
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {loop:sectionsList}
                                        <table cellpadding="0" cellspacing="0" style="border:1px #c2c2c2 solid; background-color:#F5F5F5; padding:5px 5px 5px 0px; margin-top:5px;" width="455px">
                                            <tr>
                                                <td style="padding-bottom:3px;"><div style="font-family:Arial,Tahoma, Verdana, sans-serif; font-size:19px; font-weight:bold; color:#1E324D;">{$:section}</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td>
                                                                <a href="{$:sectionTopArticleUrl}">
                                                                    <img border="0" style="padding:2px; border:1px solid #c2c2c2;" width="73" height="75" src="{$:sectionTopArticleImageUrl}" />
                                                                </a>
                                                            </td>
                                                            <td valign="top" style="font-family:Arial, Tahoma, Verdana, sans-serif; font-size:15px; font-weight:bold; padding-{$align}:5px; padding-left:3px;">
                                                                <a href="{$:sectionTopArticleUrl}"  target="_blank" style="text-decoration:none; color:#426698;">{$:sectionTopArticle}</a><br>
                                                                    <span style="font-size:10px; padding-top:5px;">{$:sectionTopArticleDate}</span>
                                                            </td>												
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            {loop:articlesList}
                                                <tr><td style="font-size:13px; padding-top:3px; font-weight:bold;"><span style="padding-left:8px; color:#8F8F8F; font-size:11px;" >{$:articleDate}</span><span style="display:block;"><a href="{$:articleUrl}" target="_blank" style="text-decoration:none; color:#000;">{$:article}</a></span></td></tr>
                                            {endloop:articlesList}
                                        </table>	
                                {endloop:sectionsList}
                            </td>
                        </tr>

                    </table>                    
                </td>
                <!-- END Right Side -->
                <!-- START Left Side -->
                <td width="263px" valign="top">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="100%" bgcolor="maroon" style="font-family:Arial, Tahoma, Verdana, sans-serif; font-size:26px; color:#fff; font-weight:bold; padding-{$:align}:5px;">{t:Breaking News}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul style="margin: 5px; padding-{$:align}: 20px; list-style:disc;">
                                                {loop:breakingList}
                                                    <li style="list-style-type: disc; font-size: 15px; font-weight: bold; font-family:Arial, Tahoma, Verdana, sans-serif; font-size:15px; color:#000; font-weight:bold;">{$:breakingArticle}</li>
                                                {endloop:breakingList}
                                            </ul>									
                                        </td>
                                    </tr>		
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td bgcolor="#336699" style="font-family:Arial, Tahoma, Verdana, sans-serif; font-size:15px; color:#fff; font-weight:bold; padding:2px 5px;">{t:Follow Us}</td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <table>
                                                <tr>
                                                    <td><a href="https://www.facebook.com" target="_blank"><img src="{$:templateUrl}/images/facebook.png" style="border:0px;"></a></td>
                                                    <td><a href="http://www.youtube.com" target="_blank"><img src="{$:templateUrl}/images/youtube.png" style="border:0px;"></a></td>
                                                    <td><a href="https://twitter.com" target="_blank"><img src="{$:templateUrl}/images/twitter.png" style="border:0px;"></a></td>
                                                    <td><a href="{$:rssUrl}" target="_blank"><img src="{$:templateUrl}/images/rss.png" style="border:0px;"></a></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>						
                            <td align="center" bgcolor="#F4F4F4">
                                <p style="padding:0; margin:1px; font-family:Tahoma, Arial, Verdana, sans-serif; font-size:11px; color:#999999;">{t:AD}</p>
                                <p style="padding:0; margin:5px;">
                                    <img src="{$:templateUrl}/images/250_250.jpg">
                                </p>
                            </td>
                        </tr>					
                    </table>			
                </td>
                <!-- START Left Side -->
            </tr>
            <tr>
                <td colspan="2" height="5px"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <p style="padding:0px; margin:0px; margin-top:5px; text-align:center; font-family:Tahoma, Arial, Verdana, sans-serif; font-size:11px;">{t:You have received this message because of your relationship with us as a newsletter}</p>
                    <p style="padding:0px; margin:0px; margin-top:2px; text-align:center; font-family:Tahoma, Arial, Verdana, sans-serif; font-size:11px;"><a href="{$:unsubscribeUrl}" style="text-decoration:none; color:#1C365C; font-weight:bold;">{t:Unsubscribe}</a>| <a style="text-decoration:none; color:#1C365C; font-weight:bold;" href="{$:contactUs}">{t:Contact Us}</a>| <a style="text-decoration:none; color:#1C365C; font-weight:bold;" href="{$:privacyPolicy}">{t:Service Conditions And Privacy Policy}</a></p>
                    <p style="padding:0px; margin:0px; margin-top:2px; margin-bottom:5px; text-align:center; font-family:Tahoma, Arial, Verdana, sans-serif; font-size:11px;">{$:copyright}</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <a href="{$:siteUrl}" target="_blank"><img src="{$:templateUrl}/images/728_90.jpg" /></a>
                </td>
            </tr>
        </table>    
        {$:log}
    </body>    
</html>
